<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageTitle %> – Art of the Orient</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include('partials/header') %>
  <main class="main home-main">
    <figure class="hero-image">
      <img src="https://upload.wikimedia.org/wikipedia/commons/1/15/The_Great_Wave_off_Kanagawa.png" alt="The Great Wave off Kanagawa by Katsushika Hokusai" />
    </figure>
  </main>
  <script src="/js/nav.js"></script>
</body>
</html>
